body {
    background-color: black;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
}

.header {
    display: flex;
    background-color: #1F2937;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: space-around;
    align-items: baseline;
    flex-shrink: 0;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    margin: 10px;
    padding: 10px;
}

.sidebar {
    display: flex;
    margin: 10px;
    margin-right: 10px;
}

a:link {
    color: #E5E7EB;
    filter: contrast(80%);
    text-decoration: none;
    font-size: 18px;
}

.links {
    list-style: none;
    display: flex;
    gap: 100px;
}

.main-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 280px;
    background-color: #1f2937;
    color: #F9FaF8;   
    padding-top: 100px;
    padding-bottom: 150px;
    flex-shrink: 0;

}

.main-left {
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.awesome {
    display: flex;
    font-size: 48px;
    font-weight: bolder;
    word-wrap: break-word;
    width: 350px;
}

.subtext {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    filter: contrast(70%);
    word-wrap: break-word;
    width: 450px;
    padding-bottom: 10px;
    padding-top: 5px;
}

.button {
    display: flex;
    background-color: #3882F6;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 12px;    
    max-width: 100px;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button:hover {
    background-color: #F9FAF8;
    color: #3882F6
}

.placeholder {
    display: flex;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
    background-color: #7e7e7e;
    font-size: 18px;
    width: 600px;
    height: 250px;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
    padding-top: 50px;
}

.info {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.square {
    width: 175px;
    height: 175px;
    background-color: white;
    border-color: #3882f6;
    border-style: solid;
    border-width: 5px;
    border-radius: 12px;
}

.mid-images {
    display: flex;
    gap: 60px;
    padding-top: 50px;
    margin: -5px;
}

.subtext2 {
    display: flex;
    text-align: center;
    justify-content: center;
    color: #1f2937;
    filter: contrast(50%);
    word-wrap: break-word;
    width: 890px;
    height: 70px;
    padding-left: 0px;
    padding-right: 10px;
    padding-bottom: 100px;
    list-style: none;
    gap: 90px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.inspiring {
    display: flex;
    text-align: left;
    width: 735px;
    flex-wrap: wrap;
    font-style: italic;
    font-size: 36px;
    font-weight: lighter;
    padding-bottom: 10px;
    padding-top: 100px;
}

.thor {
    display: flex;
    flex-direction: column-reverse;
    text-align: right;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 100px;
    width: 735px;
}

.cta-background {
    background-color: white;
    display: flex;
    justify-content: center;
}

.cta {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    background-color: #3882f6;
    width: 1000px;
    height: 125px;
    margin: 100px;
    border-radius: 12px;
}

.cta-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cta-text{
    display: flex;
    font-weight: bold;
    font-size: 20px;
}

.cta-subtext {
    display: flex;
    font-weight: 200;
}

.cta-button {
    display: flex;
    justify-content: center;
    font-weight: 400;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
}